[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "source/internal/external/boost"]
	path = source/internal/external/boost
	url = https://github.com/boostorg/boost.git
